<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讨论区</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="./assets/flat-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/flat-ui.min.css">
</head>
<body> 
  
    <!-- Static navbar -->
    <!--<div ng-app="myApp" ng-controller="mycontroller" ng-init="author='dzzxjl'">
      <p>{{myUrl}}</p>
    </div>-->
<div ng-app="myApp" ng-controller="siteCtrl">
      <!--ng-app 指令初始化一个 AngularJS 应用程序-->
    <div class="container">
        <nav class="navbar navbar-default navbar-lg">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">
            <span class="fui-list-large-thumbnails"></span>
            BookCan书罐
            </a>
            </div>
            <!--折叠-->
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./start.html">主页</a></li>
                <li><a href="./forum.html">讨论区</a></li>
                <li><a href="http://dzzxjl.github.io/2014/12/30/2014%E8%AF%BB%E4%B9%A6%E8%AE%B0%E5%BF%86/">2014读书记忆</a></li>
                <li><a href="http://dzzxjl.github.io/BookCan">GitHub</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right"><a>&nbsp</a></li>
                <li class="navbar-right"><a href="" ng-click="toggle()">关于</a></li>      
                <li class="navbar-right"><a href="" id="a_login">登录</a></li>
            </ul>
            </div>
        </div>
        </nav>

        <div id="main">
            #正在建设中#
            <hr>
            <input ng-model="comment" type="text" placeholder="输入您的建议" class="form-control" />
            {{comment}}
            <br>
            <button ng-click="save()" class="btn btn-embossed btn-primary">提交</button>
            <p>留言列表</p>
            <div ng-repeat="x in comments | orderBy: '-cid'">
                <hr>
                {{x.content}}
                
            </div>
        </div>
        <hr>
        <footer class="footer">
            <p>© 2017 BookCan, Inc.</p>
        </footer> 
    </div><!-- /container -->
</div> 
    <script>
    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
        // 初始化，自动执行
        $http({
                method: 'POST',
                url: 'http://localhost:8080/getComment'

            }).then(function successCallback(response) {

                console.log(response);
                $scope.comments = response.data;
                    // console.log(response);
                    // 请求成功执行代码
                }, function errorCallback(response) {
                    // 请求失败执行代码
            });



        $scope.save = function() {
            var comment = $scope.comment;

            console.log($scope.comment);
            $http({
                method: 'POST',
                params:{
                    comment: comment
                },
                url: 'http://localhost:8080/addComment'
            }).then(function successCallback(response) {
                    console.log(response);
                    $scope.comments = response.data;
                    // 请求成功执行代码
                }, function errorCallback(response) {
                    // 请求失败执行代码
            });
        }
    });
    </script>
</body>
</html>
